@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

/* Overall App Styles */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.App {
  font-family: 'Roboto', sans-serif;
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
  padding: 1.25rem; /* 20px */
}

.MuiDataGrid-columnHeaderTitle {
  font-family: 'Roboto', sans-serif; /* Apply Roboto to column headers */
  font-size: 0.875rem; /* 14px */
  font-weight: 800; /* Make column headers bold */
}

/* Table Styles */
table, .MuiDataGrid-cell {
  font-family: 'Roboto Slab', serif; /* Apply Roboto Slab only to tables */
  font-size: 0.875rem; /* 14px */
}

/* Common Styles */
th, td {
  border: 0.0625rem solid #ddd; /* 1px */
  padding: 0.5rem; /* 8px */
  text-align: left;
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
}

.app-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 2rem; /* Slightly larger than 1.5rem */
  color: #333;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Normal weight */
  font-size: 1.125rem; /* Slightly larger if desired */
  margin-top: -0.25rem;
  margin-bottom: 0.75rem;
}

.attribution {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.attribution a {
  color: #0077cc;
  text-decoration: none;
  margin-left: 0.25rem;
}

.attribution a:hover {
  text-decoration: underline;
}


/* Default hover color */
.MuiDataGrid-row:hover {
  background-color: var(--hover-color, #e0e0e0) !important;
}

button {
  background-color: #FF1E00;
  color: #fff;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Dynamic hover colors */
.hover-row-ff0000:hover { --hover-color: #ff0000; } /* Red */
.hover-row-00ff00:hover { --hover-color: #00ff00; } /* Green */
.hover-row-0000ff:hover { --hover-color: #0000ff; } /* Blue */
.hover-row-ffffff:hover { --hover-color: #ffffff; } /* White */